/bin/
/obj/
/Debug/
/build/
/.cache/
/river-data/
/salesman-data/
/data/
/scripts/
build*/
dist*/
/compile_commands.json

# Object files
*.o
*.so
*.so.*
*.lo
*.la
*.pyc
*.class

# Temp files
*.swp
*.swo
*~
*.log

